:root {
    --bodyBackground-color: rgb(212, 209, 209);
    --headerBackgorund-color: rgb(255, 255, 255);
    --headerText-color: black;
    --content-color-bold: black;
    --content-color-fade: rgb(75, 75, 75);
    --tag-color: rgb(45, 45, 231);
}

ul {
    list-style: none;
    padding: 0px;
}

a {
    text-decoration: none;
    color: none;
}

body {
    background-color: var(--bodyBackground-color);
    margin: 0px;
}

.header {
    background-color: var(--headerBackgorund-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.header ul {
    display: flex;
    direction: row;
    align-items: center;
}

.headerElement {
    padding: 8px 12px;
}

.header a {
    color: var(--headerText-color);
}

.search {
    display: flex;
}

.search input {
    width: 500px;
    height: 40px;
}

.search button {
    width: 40px;
    align-items: stretch;
    padding: 1px;
}

.content {
    display: flex;
}

section {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.videoArea {
    width: 100%;
    height: 70%;
    padding: 8px 12px;
}

.videoArea video {
    width: 100%;
    height: 100%;
}

.infoArea {
    width: 100%;
    height: 30%;
    padding: 8px 12px;
}

.videoInfo {
    padding-bottom: 8px 0px;
    border-bottom: solid 1px var(--content-color-fade);
}

.videoInfo a {
    color: var(--tag-color);
}

.options a {
    color: var(--content-color-bold);
    padding: 8px 12px;
}


.commentArea {
    width: 100%;
    height: 100%;
    padding: 8px 12px;
}

aside {
    width: 30%;
}

.recommendVideo {
    /* width: ; */
    /* height: ; */
    display: flex;
    padding: 8px 12px;
}