.container {
    background-color: beige;
    height: 100vh;
    display: flex;
}

.item {
    width: 50px;
    height: 50px;
}

.item1 {
    background-color: red;
}

.item2 {
    background-color: orange;
}

.item3 {
    background-color: yellow;
}

.item4 {
    background-color: green;
}

.item5 {
    background-color: blue;
}


.item6 {
    background-color: darkblue;
}


.item7 {
    background-color: purple;
}


.item8 {
    background-color: tomato;
}

.item9 {
    background-color:yellowgreen;
}

.item10 {
    background-color: aqua;
}