:root {
    --text-color: white;
    --background-color: cornsilk;
    --title-color: dodgerblue;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: "ROBOTO";
}

a {
    text-decoration: none;
    color: var(--text-color)

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--title-color);
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: var(--text-color);
}

.navbar__logo a {
    color: var(--text-color);
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color:lightblue;
    border-radius: 5px;
}

.navbar__links {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding: 0;
}

.navbar__links li {
    padding: 8px 12px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
}

@media screen and (max-width: 750px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;

        text-align: center;
    }

    .navbar__links {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__links.active {
        display: flex;
    }
}