body {
    margin: 0;
    background-color: cornsilk;
}

a {
    text-decoration: none;
    color: white

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: dodgerblue;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo a {
    color: white;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__links {
    display: flex;
    list-style: none;
    color: white;
    padding: 0;
}

.navbar__links li {
    padding: 8px 12px;
}